.App {
  text-align: center;
}

.mainCakeDiv
{
  width: 80%;
  margin: auto;
}

.currentStateHeading
{
  font-size: 3vw;
  font-weight: bolder;
}

.buyCakeBtn
{
  font-size: 1.8vw;
  border: none;
  cursor: pointer;
  color: white;
  background-color: rgb(25, 190, 236);
  width: 30%;
  border-radius: 4px;
  padding: 1% 0%;
}

.errorMsg
{
  font-size: 2vw;
  color: rgb(242, 23, 23);
  font-weight: bolder;
}